<div class="card mb-2" id="<%= dom_id train %>">
  <div class="card-body">
    <h5 class="card-title">
      <%= train.number %>
    </h5>

    <% unless request.path == train_path(train)  %>
      <%= link_to 'Show', train_path(train) %>
    <% end %>
  </div>
</div>