<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">
      <%= carriage.number %>
    </h5>

    <% if carriage.type.present? %>
      <p>Тип вагона: <%= carriage.type %></p>
    <% end %>

    <% if carriage.top_seats.present? %>
      <p>Верхних мест: <%= carriage.top_seats %></p>
    <% end %>
  </div>
</div>
