<%= link_to 'Назад', admin_train_path(@train) %>

<%= render partial: 'admin/trains/train_details', locals: { train: @train } %>

<div class="mb-2">
  <%= link_to 'Новый вагон', new_admin_train_carriage_path(@train), class: 'btn btn-secondary' %>
</div>

<% @carriages.each do |car| %>
  <%= render partial: 'admin/carriages/carriage', locals: { carriage: car } %>
<% end %>