<h2>Результаты поиска:</h2>

<%= link_to 'Новый поиск', new_searches_path %>

<% if @routes.any? %>
    <% @routes.each do |route| %>
      <% route.trains.each do |train| %>
        <%= render partial: 'trains/train', locals: { train: train } %>
      <% end %>
    <% end %>
  </table>
<% else %>
  <p>Поезда не найдены.</p>
<% end %>
