<h2>Результаты поиска:</h2>

<%= link_to 'Новый поиск', new_searches_path %>

<% if @routes.any? %>
    <% @routes.each do |route| %>
      <% route.trains.each do |train| %>
        <%= render partial: 'admin/trains/train', locals: { train: train } %>
      <tr>
        <td>Отправление: <%= route.departure_time || "-" %></td>
        <td>Прибытие: <%= route.arrival_time || "-" %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
<% else %>
  <p>Поезда не найдены.</p>
<% end %>
