<h2>Результаты поиска:</h2>

<%= link_to 'Новый поиск', new_searches_path %>

<% if @routes.any? %>
    <% @routes.each do |route| %>
      <% route.trains.each do |train| %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Номер</th>
              <th>Отправление</th>
              <th>Прибытие</th>
              <th>Действия</th>
              <% if current_user&.admin_role? %>
                  <th>Действия</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'admin/trains/train', 
                      locals: { 
                        train: train,
                        departure_station: route.railway_stations.first,
                        arrival_station: route.railway_stations.last,
                        route: route
                      } %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </table>
<% else %>
  <p>Поезда не найдены.</p>
<% end %>
