<%= form_with model: @route do |f| %>
  <div class="mb-2">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= f.submit 'Создать', class: 'btn btn-primary' %>
  </div>
<% end %>