.main-container {
  max-width: 800px;
  margin: 0 auto;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 5%;
  object-fit: cover;
  filter: blur(0.5px);
}

.img-train {
  width: 150px;
  height: 150px;
  border-radius: 5%;
}